.basket-list-container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 80px;

  .basket-title {
    color: white;
    span {
      color: #ff55a5;
    }
  }
  .basket-price-content {
    color: #ff55a5;
    padding: 30px 0;
    text-align: right;
    .price {
      margin-bottom: 20px;
    }
  }
}
