.movie-item {
  display: flex;
  .image {
    cursor: pointer;
    img {
    }
  }
  .content {
    .item {
      margin: 10px 5px;
    }
    span {
      font-size: 20px;
    }
    .button-group {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
