.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  top: 0;
  left: 0;

  background-color: rgba($color: #2c2c2c75, $alpha: 0.1);
  .popup-movie {
    background-color: rgba($color: #7472723f, $alpha: 1);
    width: 30%;
    text-align: center;
  }
}
